.registercontainer {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(rgba(82, 150, 144, 0.5), rgba(255, 255, 255, 0.5)),
    url('https://images.unsplash.com/photo-1542435503-956c469947f6?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTZ8fGJsb2d8ZW58MHx8MHx8&ixlib=rb-1.2.1&w=1000&q=80')
      center;

  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.registerwrapper {
  width: 30%;
  padding: 20px;
}

.registertitle {
  font-size: 30px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 50px;
  color: #223f33;
}

.registerForm {
  display: flex;
  flex-direction: column;
}

.registerForm > input {
  flex: 1;
  min-width: 40%;
  margin: 20px 10px 0px 0px;
  padding: 10px;
  background: transparent;
  border: 1px solid teal;
  border-radius: 10px;
}
.registerForm > input:focus {
  outline: none;
}

.registerbutton {
  width: 100%;
  border: none;
  padding: 13px;
  background: teal;
  color: white;
  cursor: pointer;
  border-radius: 20px;
  margin: 20px 0px;
}
.registerAm {
  font-size: 12px;
  margin: 10px 0px;
}
.registerlink {
  list-style: none;
  font-size: 14px;
  margin-top: 5px;
  cursor: pointer;
  color: #3a5050;
  text-align: center;
  margin-right: 40px;
}
.Icon {
  margin-right: 10px;
}
