.top {
  width: 100%;
  height: 50px;
  background-color: white;
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  font-family: 'Lora', serif;
  z-index: 2;
}
.topleft,
.topright {
  flex: 3;
  display: flex;
  justify-content: center;
  align-items: center;
}
.topcenter {
  flex: 6;
}
.topIcon {
  font-size: 20px;
  margin-right: 10px;
  cursor: pointer;
  color: #444;
}
.topImage {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  object-fit: contain;
  margin-right: 5px;
  cursor: pointer;
}
.topList {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style: none;
}
.topListItem {
  margin-right: 20px;
  font-size: 18px;
  font-weight: 400;
  cursor: pointer;
  text-transform: uppercase;
  list-style: none;
}
.topSearchIcon {
  font-size: 18px;
  color: #666;
  cursor: pointer;
  margin-left: 15px;
}
